.navigation {
  &-wrapper {
    position: relative;
    width: 100%;

    &-back {
      position: absolute;
      left: 20rpx;
      top: 50%;
      width: 40rpx;
      height: 40rpx;
      transform: translate(0, -50%);

      &-img {
        margin-left: 11rpx;
        margin-top: 6rpx;
        width: 20rpx;
        height: 36rpx;
      }
    }

    &-title {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 42rpx;
      transform: translate(-50%, -50%);
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
