@function tovmin($rpx) {
  @return #{$rpx * 100/750}vmin;
}
.exam-mask {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 200;
  opacity: 0.9;
  &-hint {
    position: absolute;
    top: tovmin(70);
    left: 0;
    right: 0;
    font-size: tovmin(48);
    color: #ffffff;
    display: block;
    text-align: center;
    z-index: 2;
  }
  &-count {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    font-size: tovmin(300);
    z-index: 3;
    font-weight: bold;
    transform: translate(-50%, -50%);
  }
  &-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.exam-warn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background: rgba(0,0,0,0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  border: tovmin(10) solid #FE802E;
  &-icon {
    width: tovmin(74);
    height: tovmin(65);
  }
  &-text {
    font-size: tovmin(56);
    color: white;
    margin-left: tovmin(39);
  }
}

@mixin btn-common {
  width: tovmin(230);
  height: tovmin(92);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: rgba(0, 0, 0, .25);
  border: tovmin(4) solid #fff;
  color: #fff;
  font-size: tovmin(38);
}

.need-blur {
  filter: blur(10rpx);
}

.main-video {
  position: relative;
  width: 100%;
  height: 100%;
  &-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 88;
  }
  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 89;
    background: rgba(0,0,0,0.1);
  }
}

.explain-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;

  .btn-pass {
    position: absolute;
    right: tovmin(40);
    top: tovmin(40);
    @include btn-common;
  }
}

.ing-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 150;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  --barWidth: 0;

  .ing-loading {
    position: relative;
    z-index: 200;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    color: #353535;
    line-height: 1;

    .loading-title {
      font-size: tovmin(48);
    }

    .loading-name {
      font-size: tovmin(88);
      margin-top: tovmin(58);
    }

    .loading-detail {
      font-size: tovmin(56);
      margin-top: tovmin(40);
    }

    .loading-bar {
      position: relative;
      width: tovmin(990);
      height: tovmin(20);
      margin-top: tovmin(80);
      border-radius: tovmin(20);
      background: rgba(255, 255, 255, .5);

      &::after {
        position: absolute;
        left: 0;
        content: '';
        height: 100%;
        width: 0;
        border-radius: tovmin(20);
        background: linear-gradient(270deg, #4DE4CA, #16B297);
      }
    }

    view.loaded-bar {
      &:after {
        width: 100%;
        transition: width linear 8000ms;
      }
    }

    view.empty-bar {
      &:after {
        width: 0;
        transition: width linear 0ms;
      }
    }
  }

  .class-info {
    position: absolute;
    left: tovmin(39);
    top: tovmin(39);
    color: #fff;
    line-height: 1;

    .class-title {
      font-weight: 500;
      font-size: tovmin(42);
    }

    .class-detail {
      margin-top: tovmin(20);
      font-weight: 400;
      font-size: tovmin(42);
    }
  }

  .btn-area {
    .btn-explain {
      position: absolute;
      left: tovmin(80);
      top: tovmin(120);
      width: tovmin(150);
      height: tovmin(150);
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.5);
      line-height: tovmin(48);
      font-size: tovmin(67);
      color: #353535;
      font-size: tovmin(38);
      border-radius: 50%;
    }

    .btn-pause {
      position: absolute;
      left: tovmin(80);
      bottom: tovmin(40);
      width: tovmin(190);
      height: tovmin(190);
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 300;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;

      &-image {
        width: tovmin(50);
        height: tovmin(60);
      }
    }
  }

  .process-area {
    #countnum {
      position: absolute;
      right: tovmin(30);
      bottom: tovmin(30);
    }

    #counttime {
      position: absolute;
      right: tovmin(300);
      bottom: tovmin(30)
    }
  }

  .pkjx-image {
    width: tovmin(380);
    height: tovmin(200);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .pkjx-plus {
    width: tovmin(112);
    height: tovmin(97);
    position: absolute;
    right: tovmin(97);
    bottom: tovmin(298)
  }
}

.training-break{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 200;
  &-hint {
    position: absolute;
    top: tovmin(213);
    bottom: tovmin(483);
    left: 0;
    right: 0;
    color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-wrap: nowrap;
    font-size: tovmin(56);
    &-icon {
      width: tovmin(66);
      height: tovmin(68);
      margin-right: tovmin(14);
    }
  }
  &-count {
    color: #353535;
    position: absolute;
    top: tovmin(300);
    bottom: tovmin(205);
    left: 0;
    right: 0;
    font-size: tovmin(260);
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
    &-unit {
      font-size: tovmin(140);
    }
  }
}

.training-description {
  z-index: 200;
  align-items: baseline;
  &-icon {
    position: absolute;
    bottom: tovmin(680);
    left: tovmin(1132);
    right: 0;
    width: tovmin(46);
    height: tovmin(38);
  }
  &-title {
    position: absolute;
    bottom: tovmin(670);
    left: tovmin(1197);
    right: 0;
    color: #353535;
    font-weight: normal;
    font-size: tovmin(38);
  }
}

.pusher {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  right: 0;

  &.small {
    right: tovmin(30);
    top: tovmin(30);
    width: tovmin(440);
    height: tovmin(250);
    border-radius: tovmin(10);
  }
}

.debug-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, .5);

  &.small {
    right: tovmin(30);
    top: tovmin(30);
    width: tovmin(440);
    height: tovmin(250);
    border-radius: tovmin(10);
    z-index: 100;
  }
}

#main-video {
  width: 100%;
  height: 100%;
}
