.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #E3FBF7, #F5F5F5 40%);

  &-nav {
    flex: 0 0 auto;
  }

  &-content {
    flex: 1 1 auto;
    overflow: auto;
    padding: 32rpx 0 20rpx;
  }
}
.action-detail {
  padding: 35rpx 28rpx;
  &-comment {
    display: flex;
    align-items: flex-start;
    &-avatar {
      flex: 0 0 100rpx;
      height: 100rpx;
      border-radius: 10rpx;
    }
    &-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &-name {
        margin-left: 20rpx;
        color: #172321;
        font-size: 32rpx;
      }
      &-text {
        margin-left: 20rpx;
        margin-top: 20rpx;
        background-color: #E8E8E8;
        color: #505050;
        font-size: 32rpx;
        padding: 20rpx;
        position: relative;
        line-height: 50rpx;
        border-radius: 10rpx;
        &:after {
          content: "";
          position: absolute;
          top: 10rpx;
          left: -12rpx;
          border-right: 10px solid #E8E8E8;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
        }
      }
    }
  }
  &-image {
    margin: 30rpx 0;
    &-img {
      height: 366rpx;
      width: 100%;
    }
  }
  &-title {
    display: flex;
    align-items: center;
    &-text {
      font-weight: bold;
      font-size: 34rpx;
      &.highest {
        color: #6437C1;
      }
      &.lowest {
        color: #FF8332;
      }
    }
    &-icon {
      margin-right: 20rpx;
      &.highest {
        width: 34rpx;
        height: 43rpx;
      }
      &.lowest {
        width: 39rpx;
        height: 32rpx;
      }
    }
  }
}

.btn-back {
  position: absolute;
  left: 30rpx;
  padding: 0 30rpx 20rpx;
}

.common-wrap {
  width: 706rpx;
  margin: 21rpx auto 0;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 20rpx;
}

.report-header {
  height: 186rpx;
  padding: 101rpx 20rpx 0;
  font-size: 42rpx;
  line-height: 1;
  color: #2b2b2b;
  font-weight: bold;
  text-align: center;
}

.people-area {
  display: flex;
  margin-top: 0;
  padding: 0 50rpx;

  .people-image {
    width: 120rpx;
    height: 120rpx;
    border-radius: 10rpx;
  }

  .people-info {
    padding: 17rpx 0 20rpx 30rpx;

    .people-name {
      font-size: 32rpx;
      color: #2b2b2b;
      font-weight: 600;
      line-height: 1;
    }

    .people-time {
      font-size: 26rpx;
      color: #505050;
      margin-top: 30rpx;
    }
  }
}

.data-area {
  text-align: center;

  .data-date {
    color: #252829;
    font-size: 32rpx;
    margin-top: 40rpx;
  }

  .data-title {
    font-size: 38rpx;
    color: #2B2B2B;
    line-height: 1;
    margin-top: 29rpx;
  }

  .data-list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40rpx;
    margin-bottom: 40rpx;

    .data-li {
      text-align: center;
      flex: 1 1 33%;

      .data-li-value {
        font-size: 50rpx;
        color: #16b297;
        font-weight: bold;
        line-height: 1;
      }

      .data-li-label {
        margin-top: 30rpx;
        font-size: 26rpx;
        color: #505050;
        line-height: 1;
      }
    }
  }
}

.action-area {
  padding-left: 28rpx;
  padding-right: 28rpx;

  .action-title {
    margin-top: 40rpx;
    display: flex;
    padding-left: 56rpx;
    padding-right: 28rpx;
    justify-content: space-between;
    font-size: 26rpx;
    line-height: 1;
    padding-bottom: 42rpx;
    border-bottom: 1rpx solid #eaeaea;
    font-weight: normal;
    color: #2B2B2B;

    .action-label {
      font-size: 26rpx;
    }

  }

  .action-list {
    padding-left: 56rpx;
    padding-right: 28rpx;
    margin-bottom: 40rpx;

    .action-li {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-top: 40rpx;
      font-size: 32rpx;
      color: #2B2B2B;
      line-height: 1;

      .lowest-image {
        position: absolute;
        width: 39rpx;
        height: 32rpx;
        left: -45rpx;
        top: -2rpx;
      }

      .highest-image {
        position: absolute;
        width: 34rpx;
        height: 43rpx;
        left: -45rpx;
        top: -6rpx;
      }

      &.highest {
        color: #6437c1;

      }

      &.lowest {
        color: #F28238;
      }

      .action-li-point {
        flex: 0 0 100rpx;
      }
    }
  }
}

.btn-share {
  width: 706rpx;
  margin: 20rpx auto;
  text-align: center;
  font-size: 36rpx;
  color: #fff;
  background: #16b297;
  border-radius: 10rpx;
  height: 96rpx;
  line-height: 96rpx;
}
