.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #E3FBF7, #F5F5F5 40%);

  &-nav {
    flex: 0 0 auto;
  }

  &-content {
    flex: 1 1 auto;
    overflow: auto;
    padding: 40rpx 0 20rpx;
  }
}

.mine-header {
  height: 186rpx;
  padding: 101rpx 20rpx 0;
  font-size: 42rpx;
  line-height: 1;
  color: #2b2b2b;
  font-weight: bold;
  text-align: center;
}

.people-area {
  display: flex;
  margin-top: 0;
  padding: 0 50rpx;
  padding-bottom: 12rpx;

  .people-image {
    width: 120rpx;
    height: 120rpx;
    border-radius: 10rpx;
  }

  .people-info {
    padding: 44rpx 0 30rpx 30rpx;

    .people-name {
      font-size: 32rpx;
      color: #172321;
      font-weight: bold;
      line-height: 1;
    }

    .people-time {
      font-size: 26rpx;
      color: #252829;
      font-weight: normal;
      margin-top: 30rpx;
    }
  }
}

.common-wrap {
  width: 706rpx;
  margin: 29rpx auto 0;
  background: #fff;
  border: 1px solid #fff;
  padding: 0;
  border-radius: 20rpx;

  .common-nav {
    display: flex;
    align-items: center;
    padding: 34rpx 30rpx 34rpx 33rpx;
    font-size: 32rpx;
    line-height: 1;

    .wx-switch-input {
      width: 82rpx!important;
      height: 46rpx!important;
      margin-right: 0;
    }
    .wx-switch-input::before {
      width: 39rpx!important;
      height: 39rpx!important;
    }
    .wx-switch-input::after {
      width: 39rpx!important;
      height: 39rpx!important;
    }

    &-image {
      width: 38rpx;
      height: 38rpx;
      margin-right: 20rpx;
    }
    &-indicator {
      width: 13rpx;
      height: 22rpx;
    }
    text {
      flex: 1 1 auto;
    }

  }
}

.common-title {
  padding-left: 49rpx;
  font-size: 34rpx;
  font-weight: bold;
  color: #2c2c6e;
  line-height: 1;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 149rpx;
  width: 100%;
  z-index: 100;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .exe {
    margin-right: 230rpx;
    text-align: center;
  }

  .mine {
    text-align: center;
  }

  .exe .footer-image {
    width: 47rpx;
    height: 25rpx;
  }

  .mine .footer-image {
    width: 34rpx;
    height: 34rpx;
  }

  .footer-text {
    margin-top: 14rpx;
    font-size: 20rpx;
    color: #13a58b;
    line-height: 1;

    &.locked {
      color: #2c2c6e;
    }

  }
}

